html 
body{
    /* Layout Properties */
top: 0px;
left: 0px;
width: 1180px;
height: 750px;
    background:  transparent linear-gradient(180deg, #E8F6FF 0%, #BEB2FB 100%) 0% 0% no-repeat padding-box;
    padding: 50px;
    opacity: 1;

}

.contenedor {
    width: 300px;
    background: #6a6a6a;
    padding: 50px;
    margin: auto;
    font-family: serif;
    color: #ffffff;
    box-shadow: 7px 13px 37px #000000;
    
    
   
}

.texto-formulario p {
    color: #000000;
}

.texto-formulario h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.texto-formulario p {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    
}

.input label {
    display: block;
    font-size: 17px;
    font-family: sans-serif;
    margin: 20px 0;
    
}
.password-olvidada a {
    font-family: sans-serif;
    display: block;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    margin-bottom:10px;
}

.input input {
    width: 100%;
    background: #484848;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff
}
    }
{
   
}
.login[type="submit"] {
    width: 107%;
    background: #ffffff;
    border: none;
    padding: 12px;
    color: #000000;
    font-size: 16px;
    
}

.login [type="submit"]:hover{
    cursor: pointer;
    background-color: #89c8ff;
}
