html 
body{
background: transparent linear-gradient(180deg, #E8F6FF 10%, #BEB2FB 100%);
opacity: 1;
height: 641px

}

.olivia {
height: 150px;
margin: 195px 430px
}
.fairlac{
width: 140px;
}
.fairlac{
transition: 0.5s;
object-fit: cover;
    
}
.fairlac:hover{
transform: scale(1.1);
    
}
.footer{
background-color: #D0C8F6;
height: 81px;
width: 1358px;
}

.htransp{
font: normal normal normal 18px/23px Outfit;
color: #33347E;
margin: 10px;
text-decoration-line: none;
}
.transp{
text-align: end;
padding: 18px ;
text-align: left
}

.h4{
font: normal normal normal 18px/23px Outfit;
color: #33347E;
margin: 10px;
text-decoration-line: none;
}
.ingresar{
text-align: right; 
transition: 0.3s;
object-fit: cover;
}
.ingresar:hover{
transform: scale(1.01);
}




.contenedor {
    width: 450px;
    background: #F3F1FF;
    padding: 40px;
    font-family: sans-serif;
    color: #ffffff;
    box-shadow: 7px 13px 37px #D0C8F6;
    margin: 1px 414px;
    height: 460px;
    
    
    
   
}

.texto-formulario p {
    color: #000000;
}

.texto-formulario h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #000000;
}

.texto-formulario p {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    
}

.input label {
    display: block;
    font-size: 17px;
    font-family: sans-serif;
    margin: 20px 0;
    color: #000000;
}
.password-olvidada a {
    font-family: sans-serif;
    display: block;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    margin-bottom:10px;
}

.input input {
    width: 95%;
    background: #F3F1FF;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #B0A2F9;
    font-family: sans-serif;
    font-size: 18px;
}
    }
{
   
}
.login[type="submit"] {
    width: 100%;
    background: #D0C8F6;
    border: none;
    padding: 10px;
    color: #000000;
    font-size: 16px;
    
}

.login [type="submit"]:hover{
    cursor: pointer;
    background-color: #B0A2F9;
}
